*, ::after, ::before  {
	box-sizing: border-box;
}
html, body {
	background-color: #FFF;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font: normal 16px "Helvetica", serif;
}
ul, li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h1 {
	margin: 0;
	text-transform: uppercase;
}
p {
	margin: 0;
}
.container {
	padding: 0;
	margin: 0;
}
/*BUTTONS AND OTHERS*/

#first-button {
	letter-spacing: 2px;
	padding: 12px 0;
	margin: 0;
	background-color: #9b7c3a;
	color: #FFF;
	border: 2px solid #9b7c3a;
	display: block;
	width: 220px;
	height: 45px;
	font-size: 13px;
	text-align: center;
	border-radius: 3px;
	font-weight: 600;
}
#first-button:hover {
	background-color: #FFF;
	color: #9b7c3a;
	border: 2px solid #9b7c3a;
	transition-duration: 0.8s;
}
#sec-button {
	letter-spacing: 2px;
	padding: 12px 0;
	margin: 0;
	background-color: #9b7c3a;
	color: #FFF;
	border: 2px solid #9b7c3a;
	display: block;
	width: 220px;
	height: 45px;
	font-size: 13px;
	text-align: center;
	border-radius: 3px;
	font-weight: 600;
}
#sec-button:hover {
	background-color: #FFF;
	color: #9b7c3a;
	border: 2px solid #9b7c3a;
	transition-duration: 0.8s;
}
#third-button {
	letter-spacing: 2px;
	padding: 14px 0;
	margin: auto auto;
	color: #FFF;
	background-color: #000;
	border: 2px solid #FFF;
	display: block;
	width: 235px;
	height: 50px;
	font-size: 13px;
	text-align: center;
	border-radius: 3px;
}
#third-button:hover {
	background-color: #FFF;
	color: #000;
	border: 2px solid #000;
	transition-duration: 1s;
}
#fourth-button {
	letter-spacing: 1px;
	padding: 15px 0;
	margin: 4em auto;
	background-color: #9b7c3a;
	color: #FFF;
	border: 2px solid #9b7c3a;
	display: block;
	width: 250px;
	height: 45px;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	border-radius: 3px;
	font-weight: 600;
}
#fourth-button:hover {
	background-color: #FFF;
	color: #9b7c3a;
	border: 2px solid #9b7c3a;
	transition-duration: 0.8s;
}
#five-button {
	letter-spacing: 1px;
	padding: 14px 0;
	margin: 20px auto 150px;
	color: #9b7c3a;
	border: 2px solid #9b7c3a;
	display: block;
	width: 300px;
	height: 45px;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	border-radius: 3px;
	font-weight: 600;
}
#five-button:hover {
	background-color: #9b7c3a;
	color: #FFF;
	border: 2px solid #9b7c3a;
	transition-duration: 0.8s;
}
.wedding-button {
	letter-spacing: 2px;
	padding: 12px 0;
	margin: 0;
	background-color: #FFF;
	color: #9b7c3a;
	border: 2px solid #9b7c3a;
	display: block;
	width: 220px;
	height: 45px;
	font-size: 13px;
	text-align: center;
	border-radius: 3px;
	font-weight: 600;
	margin: auto;
}
.wedding-button:hover {
	color: #FFF;
	border: 2px solid #9b7c3a;
	transition-duration: 0.8s;
	background-color: #9b7c3a;
}

	/*-----HEADER-----NAVIGATION AND LOGO------*/

header {
	margin: 0;
}
.headerbar {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFF;
}
.logo {
	margin: 0;
	background-color: #FFF;
	text-align: center;
}
nav {
	width: 100%;
	padding: 0;
	margin: 0;
}
.nav {
	margin: 0;
	padding: 0;
	text-align: center;
}

/* MENU */

.menu {
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-size: 11px;
	font-family: "Helvetica", serif;
	position: relative;
}
.title-menu {
	display: inline-block;
}
.title-menu:hover {
	border-bottom: 2px solid #000;
}
.title-menu a {
	color: #000;
	letter-spacing: 2px;
	padding: 15px 20px;
	display: block;
	overflow: hidden;
}
/* DROPDOWNMENU */
.menu .title-menu:hover > .drop-menu {
	display: block;
}
.drop-menu {
	padding: 0;
	margin: 0;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #FFF;
	z-index: 999999;
	font-weight: 600;
	opacity: 0.9;
}
.drop-menu__title {
	padding: 40px 0;
	margin: 0;
	display: inline-block;
	height: 150px;
	letter-spacing: 1.5px;
	font-size: 14px;
}
.drop-menu__title a {
	padding: 15px 35px;
	color: #000;
	display: block;
}
.drop-menu__title a:hover {
	background-color: #bf9b30;
	transition-duration: 0.5s;
	opacity: 0.9;
	color: #FFF;
}
/* SIDEBARMENU */

.hamburger {
	border-radius: 5px;
	border: 1px solid #FFF;
	padding: 15px;
	margin: auto 5px;
	transition-duration: 0.5s;
}
.hamburger:hover {
	border: 1px solid #000;
	opacity: 0.8;
	color: #CFB53B;
	border-color: #CFB53B;
}
.hamburger-close {
	border-radius: 5px;
	border: 1px solid #FFF;
	padding: 15px;
	margin: 12px 200px 20px 5px;
	transition-duration: 0.5s;
}
.hamburger-close:hover {
	border: 1px solid #000;
	opacity: 0.8;
	color: #CFB53B;
	border-color: #CFB53B;
}
#mobile-sidebar {
	width: 250px;
	background-color: #FFF;
	letter-spacing: 1px;
	text-transform: uppercase;
	z-index: 9999999999;
}
.mobile-sidebar-container {
	background-color: #FFF;
}
.sidebar-menu {
	margin: 0;
	padding: 0;
	font-size: 12px;
	text-transform: uppercase;
}
.sidebar-title {
	display: block;
	text-align: center;
	letter-spacing: 2px;
	margin: 0;
}
.sidebar-title a {
	margin: 0;
	color: #000;
	padding: 19px 0;
	display: block;
}
.sidebar-title a:hover {
	background-color: #bf9b30;
	transition-duration: 0.5s;
	opacity: 0.8;
	color: #FFF;
}
.sidebar-dropmenu {
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #FFF;
	display: block;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms linear;
	z-index: 1000;
	left: 280px;
	top: 0px;
}
.mcd-menu li ul li:hover > ul {
	display: block;
	opacity: 1;
	visibility: visible;
}
.sidebar-dropmenu__title {
	margin: 0;
	font-size: 14px;
}
.sidebar-dropmenu__title a {
	padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}
.sidebar-dropmenu__title a:hover {
	background-color: #808080;
	transition-duration: 0.5s;
	opacity: 0.8;
	color: #FFF;
}
.i-amphtml-sidebar-mask {
	z-index: 10;
}
	/*-----MAIN CONTENT-----*/

/*section*/

.open-title {
	margin: 0;
}
.open-text {
	margin: 0;
	text-align: center;
	line-height: 3;
	letter-spacing: 10px;
	text-transform: uppercase;
}
.open-text h1 {
	font-size: 36px;
	color: #9b7c3a;
}
.open-text h1::after {
	content: "";
	display: block;
	text-align: center;
	background-color: #97782d;
	height: 1px;
	width: 300px;
	margin: 1em auto;
}
.open-text h3 {
	color: #8b8b8b;
	font-size: 14px;
}

/*section*/

.wedding {
	margin: 0;
}
.wedding amp-img {
	box-shadow: 0px 2px 6px #9b7c3a;
}
.wedding h1 {
	line-height: 3;
	letter-spacing: 4px;
	color: #9b7c3a;
	font-family: "Crimson Text";
	text-align: center;
}
.wedding p {
	line-height: 2;
	letter-spacing: 2px;
	color: #8b8b8b;
}
.ring {
	margin: 0;
}
.engagement {
	margin: 0;
}
/*section*/

.stone-content {
	margin: 0;
	border-bottom: 1px solid #ededed;
}
.stone-foto {
	margin: 0;
}
.stone-text {
	margin: 0;
}
.stone-text h1 {
	line-height: 2;
	letter-spacing: 3px;
	font-family: "Crimson Text";
	font-weight: 100;
	color: #9b7c3a;
}
.stone-text p {
	color: #8b8b8b;
	line-height: 1.6;
	font-size: 14px;
	letter-spacing: 2px;
}

/*section*/

.project-content {
	margin: 0;
	border-bottom: 1px solid #ededed;
}
.project3D-text {
	margin: 0;
}
.project3D-text p {
	color: #8b8b8b;
	letter-spacing: 2px;
	line-height: 1.6;
	font-size: 14px;
}
.project3D-text h1 {
	line-height: 2;
	letter-spacing: 3px;
	font-family: "Crimson Text";
	font-weight: 100;
	color: #9b7c3a;
}
.project3D-foto {
	margin: 0;
}

/*section*/

.manufacture {
	margin: 0;
	border-top: 2px solid #9b7c3a;
	border-bottom: 2px solid #9b7c3a;
	background-color: #FFF;
	background-image: url(img/jewelleryrepair.png);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.manufacture-text {
	margin: 0;
	line-height: 1.6;
	font-size: 15px;
}
.manufacture p {
	color: #FFF;
	padding: 75px 0;
	text-align: center;
	text-shadow: 0px 0px 10px #000;
	letter-spacing: 2px;
}
.manufacture-text h1 {
	color: #FFF;
	text-align: center;
	text-shadow: 1px 1px 5px #000;
	letter-spacing: 5px;
	font-weight: 500;
}
/*section*/
.gallery {
	margin: 0;
	padding: 0;
}
#gallery-title {
	color: #9b7c3a;
	text-align: center;
	margin-top: 3em;
	font-family: "Crimson Text";
	font-weight: 100;
	letter-spacing: 5px;
	line-height: 2;
}
#gallery-title::after {
	content: "";
	display: block;
	text-align: center;
	background-color: #97782d;
	height: 1px;
	width: 300px;
	margin: 2em auto 0;
}
.gallery-image {
	margin: 0;
	border: 1px solid #b3986069;
}

/*SECTION MAPS AND CONTACT*/

.contact-menu {
	background-color: #FFF;
	margin: 0;
}
.maps {
	margin: 0;
}
.information {
	margin: 0;
	background-color: #FFF;
}
.company-info {
	margin: 0;
}
.company-info h2 {
	margin: 0;
	text-transform: uppercase;
	line-height: 3;
	color: #97782d;
	font-weight: bold;
	font-family: "Crimson Text";
	text-align: center;
}
.company-info h2::after {
	content: "";
	display: block;
	text-align: center;
	background-color: #97782d;
	height: 1px;
	width: 250px;
	margin: 2em auto 0;
}
.company-adress {
	margin: 0;
	letter-spacing: 1px;
}
.adress-word {
	margin: 0;
	font-weight: 800;
}

	/*FOOTER AND OTHERS*/

.media-contact {
	margin: 0;
	display: flex;
	flex-direction: column;
}
.social-media {
	background-color: #000;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	opacity: 0.9;
}
.social-channel {
	margin: 0;
}
.social-channel__web {
	display: block;
}
.social-channel__web:hover {
	opacity: 0.7;
}
.others {
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 8px;
	color: #bf9b30;
}
.others-list {
	text-decoration: none;
}
.others-items {
	display: block;
}

/*media queries*/

@media (max-width: 576.99px) {
	.container {
		width: 100%;
	}
	.headerbar {
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999999;
		display: flex;
		flex-direction: row;
	}
	.logo {
		flex-grow: 1;
	}
	.open-text {
		padding: 10vh 0;
	}
	.wedding {
		width: 100%;
		padding: 1em;
	}
	.wedding h1 {
		padding: 2em 0;
	}
	.wedding p {
		padding: 0 0 4em;
	}
	.ring {
		padding: 2em 0;
	}
	.engagement {
		padding: 2em 0;
	}
	.stone-text {
		padding: 6vh 6vw;
	}
	.stone-text p {
		padding: 50px 0;
	}
	.stone-foto {
		padding: 4vw;
	}
	.project3D-text {
		padding: 6vh 6vw;
	}
	.project3D-text p {
		padding: 50px 0;
	}
	.project3D-foto {
		padding: 4vw;
	}
	.manufacture {
		width: 100%;
		height: 900px;
		padding: 250px 0;
	}
	.gallery {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 1fr);
		grid-gap: 3px;
		padding: 20px;
	}
	.information {
		margin: 3em 0;
	}
	.company-adress {
		line-height: 4;
		text-align: center;
		margin-top: 2em;
	}
	.social-media {
		padding: 20px;
	}
	.social-channel {
		padding: 20px;
	}
	.others {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}
	.others-list {
		padding: 20px;
	}
}
@media (min-width: 577px) {
	.container {
		width: 100%;
	}
	.open-text {
		padding: 10vh 0;
	}
	.wedding {
		width: 100%;
		padding: 3em 0 10em;
	}
	.wedding h1 {
		padding: 2em 0;
	}
	.wedding p {
		padding: 0 0 4em;
		max-width: 800px;
		margin: auto;
	}
	.ring {
		padding: 2em 0;
	}
	.engagement {
		padding: 2em 0;
	}
	.stone-text {
		padding: 15vh 15vw;
	}
	.stone-text p {
		padding: 60px 0;
	}
	.stone-foto {
		padding: 5vw;
	}
	.project3D-text {
		padding: 15vh 15vw;
	}
	.project3D-text p {
		padding: 60px 0;
	}
	.project3D-foto {
		padding: 5vw;
	}
	.manufacture {
		width: 100%;
		height: 1000px;
		padding: 325px 0;
	}
	.manufacture-text {
		margin: auto;
		max-width: 500px;
		max-height: 500px;
	}
	.gallery {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(8, 1fr);
		grid-gap: 3px;
		padding: 100px 50px;
		max-height: 800px;
		max-width: 800px;
		margin: 0 auto;
	}
	.image1 {
		grid-area: 1/ 1/ 5/ 5;
	}
	.image2 {
		grid-area: 6/ 6/ 9/ 9;
	}
	.image3 {
		grid-area: 6/ 4/ 8/ 6;
	}
	.image4 {
		grid-area: 1/ 7/ 3/ 9;
	}
	.image5 {
		grid-area: 6/ 1/ 9/ 4;
	}
	.image6 {
		grid-area: 3/ 5/ 6/ 8;
	}
	.social-media {
		padding: 0;
	}
	.social-channel {
		padding: 30px;
	}
	.others {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}
	.others-list {
		padding: 30px;
	}
}
@media (min-width: 768px) {
	.container {
		width: 100%;
	}
	.social-channel {
		padding: 50px;
	}
	.others {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 40px;
	}
	.others-list {
		padding: 0 40px;
	}
}
@media (max-width: 991.99px) {
	.container {
		width: 100%;
	}
	.headerbar {
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999999;
		display: flex;
		flex-direction: row;
	}
	.logo {
		flex-grow: 1;
	}
	.hamburger {
		display: block;
	}
	.nav {
		display: none;
	}
	.stone-content {
		display: flex;
		flex-direction: column-reverse;
	}
	.project-content {
		display: flex;
		flex-direction: column-reverse;
	}
	.information {
		margin: 3em 0;
	}
	.company-adress {
		line-height: 4;
		text-align: center;
		margin-top: 2em;
	}
}
@media (min-width: 992px) {
	.container {
		width: 100%;
	}
	.headerbar {
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999999;
	}
	.logo {
		padding: 10px 0;
		border-bottom: 1px solid #ededed;
	}
	.hamburger {
		display: none;
	}
	.nav {
		display: block;
	}
	.stone-content {
		display: flex;
		flex-direction: column-reverse;
	}
	.project-content {
		display: flex;
		flex-direction: column-reverse;
	}
	.gallery {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(8, 1fr);
		grid-gap: 3px;
		padding: 100px 50px;
		max-height: 1000px;
		max-width: 1000px;
		margin: 0 auto;
	}
	.image1 {
		grid-area: 1/ 1/ 5/ 5;
	}
	.image2 {
		grid-area: 6/ 6/ 9/ 9;
	}
	.image3 {
		grid-area: 6/ 4/ 8/ 6;
	}
	.image4 {
		grid-area: 1/ 7/ 3/ 9;
	}
	.image5 {
		grid-area: 6/ 1/ 9/ 4;
	}
	.image6 {
		grid-area: 3/ 5/ 6/ 8;
	}
	.media-contact {
		width: 100%;
	}
	.contact-menu {
		padding: 2vh 4vw;
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	.maps {
		width: 50%;
	}
	.information {
		width: 50%;
		margin: auto;
	}
	.company-info h2 {
		font-size: 14px;
		letter-spacing: 2px;
	}
	.contact-menu {
		padding: 2vh 2vw;
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	.company-adress {
		display: flex;
		flex-direction: row;
		line-height: 3;
		text-align: left;
		font-size: 12px;
		max-width: 380px;
		margin: 3em auto 0;
	}
	.adress-col-1 {
		width: 65%;
	}
	.adress-col-2 {
		width: 35%;
	}
}
@media (max-width: 1100px) {
	.title-menu:nth-child(7) {
		display: none;
	}
}
@media (max-width: 1200px) {
	.title-menu:nth-child(8) {
		display: none;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 100%;
	}
	.wedding {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
	}
	.ring {
		width: 50%;
		padding: 2em;
	}
	.engagement {
		width: 50%;
		padding: 2em;
	}
	.stone-content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-content: center;
		padding: 10vh 2vw;
	}
	.stone-text {
		width: 40%;
		padding: 0 4vw;
	}
	.stone-foto {
		width: 60%;
		padding: 0;
	}
	.stone-text p {
		padding: 60px 0;
	}
	.project-content {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		align-content: center;
		padding: 10vh 2vw;
	}
	.project3D-text {
		width: 40%;
		padding: 0 4vw;
	}
	.project3D-text p {
		padding: 60px 0;
	}
	.project3D-foto {
		width: 60%;
		padding: 0;
	}
	.contact-menu {
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	.maps {
		width: 50%;
	}
	.company-info h2 {
		font-size: 16px;
	}
	.company-adress {
		font-size: 14px;
		max-width: 450px;
	}
}

@media (min-width: 1400px) {
	.container {
		width: 100%;
	}
	.stone-text {
		width: 40%;
	}
	.project3D-text {
		width: 40%;
	}
	.company-info h2 {
		font-size: 18px;
	}
	.company-adress {
		font-size: 16px;
		max-width: 600px;
	}
}
@media (min-width: 1600px) {
	.container {
		width: 100%;
	}
	.gallery {
		max-height: 1400px;
		max-width: 1400px;
	}
}
@media (min-width: 1800px) {
	.container {
		width: 100%;
	}
	.company-info h2 {
		font-size: 24px;
	}
}
@media (min-width: 2000px) {
	.container {
		width: 100%;
	}
	.gallery {
		max-height: 1800px;
		max-width: 1800px;
	}
}
@media (min-width: 2500px) {
	.container {
		width: 100%;
	}
}
@media (min-width: 3000px) {
	.container {
		width: 100%;
	}
	.gallery {
		max-height: 2500px;
		max-width: 2500px;
	}
}